# Change syntax highlighting on GitHub
# see https://github.com/github/linguist/blob/1345d0122a82119ae01abc366346fc9b022cc444/docs/overrides.md

.ultraignore linguist-language=Ignore-List
turbo.json linguist-language=JSON-with-Comments

# GitHub detects only `tsconfig.json` files as JSONC by default.
# see https://github.com/github/linguist/blob/1345d0122a82119ae01abc366346fc9b022cc444/lib/linguist/languages.yml#L3123
# However, VSCode also detects `tsconfig.*.json` and `tsconfig-*.json` as JSONC.
# see https://github.com/microsoft/vscode/blob/1.75.1/extensions/typescript-language-features/package.json#L79-L106
# We will also use the latter filename, so we will tell GitHub that these are JSONC.
tsconfig[.-]*.json linguist-language=JSON-with-Comments

# The dprint configuration file is parsed as JSONC.
# see https://github.com/dprint/dprint/blob/0.34.1/crates/dprint/src/configuration/deserialize_config.rs#L14
# see https://github.com/dprint/jsonc-parser
# **Not JSON5.**
# The dprint implementation can use features not available in JSONC (e.g., trailing commas).
# But some features of JSON5 (e.g., multi-line strings, `Infinity` values) cannot be used.
dprint.json linguist-language=JSON-with-Comments
.dprint.json linguist-language=JSON-with-Comments
.dprint[.-]*.json linguist-language=JSON-with-Comments

# Note: Rather than using the file extension ".prototxt",
#       it is better to use other extensions that are default supported by GitHub.
#       E.g., ".textproto", ".pbt", ".pbtxt"
#       see https://github.com/github/linguist/blob/1345d0122a82119ae01abc366346fc9b022cc444/lib/linguist/languages.yml#L5276-L5287
#       ".textproto" is recommended. because this is the canonical file extension.
#       see https://protobuf.dev/reference/protobuf/textformat-spec/#text-format-files
*.prototxt linguist-language=Protocol-Buffer-Text-Format
